@using Doanphanmem.Models
    @model IEnumerable<PhanLoai>


<ul class="list-group">


        @{ foreach (var sp in Model)
            {
                <a href=" @Url.Action("LoaiSP", "SanPhams", new { id = sp.MaLoai })"
                   class="list-group-item list-group-item-action">
                    @sp.Tenloai
                </a>

            }
        }

    </ul>

