@using Doanphanmem.Models
@model IEnumerable<PhanLoai>

    @foreach (var loai in Model)
    {
        <li class="filter-list">
            <input class="pixel-radio" type="radio" id="men" name="brand">
            <a style="color: #777" href="~/SanPhams/getDanhsachLoaiSP/@loai.MaLoai" for="men">@loai.Tenloai</a>
        </li>
    }


